.book {
  display: inline-block;
  width: 230px;
  height: 420px; /* Adjusted for added price */
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  padding: 10px 10px 10px 10px;
  vertical-align: top;
  transition: transform 0.3s ease;
  background-color: var(--light-cream);
  border-radius: 5px;
}

.book:hover {
  transform: scale(1.01);
}

.cover {
  border: 1px solid var(--rust-orange);
  height: 80%;
  overflow: hidden;
  border-radius: 5px;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  text-align: center;
  margin-top: 10px;
}

.title {
  margin: 0;
  font-size: 18px;
  color: var(--dark-olive);
}

.author {
  font-size: 14px;
  color: var(--forest-green);
}

.price {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--rust-orange);
  font-weight: bold;
  margin-top: 15px;
}
