.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--light-cream);
  font-size: 16px;
}

.cart {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cart svg {
  color: var(--golden-brown);
  cursor: pointer;
}

.count {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--golden-brown);
  color: var(--dark-olive);
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
