@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --forest-green: #606c38;
  --dark-olive: #283618;
  --light-cream: #fefae0;
  --golden-brown: #dda15e;
  --rust-orange: #bc6c25;
  --warm-white: #f1f5f8;

  --primary-font: "Cormorant Garamond", serif;
  --secondary-font: "Merriweather", serif; /* Cozy, warm font */
  --tertiary-font: "Raleway", serif;
}

body {
  background-color: var(--light-cream);
  font-family: var(--tertiary-font);
  color: var(--dark-olive); /* Dark color for text to ensure readability */
}

h1,
h2,
h3 {
  color: var(--golden-brown);
  font-family: var(--secondary-font);
}

input {
  font-family: var(--secondary-font);
}
